In [1]:
!pip install pandas scikit-learn numpy matplotlib

Collecting pandas
  Downloading pandas-1.5.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.1/12.1 MB 36.6 MB/s eta 0:00:0000:010:01
Collecting scikit-learn
  Downloading scikit_learn-1.1.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (30.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 30.5/30.5 MB 8.2 MB/s eta 0:00:00:00:0100:01
Collecting numpy
  Downloading numpy-1.23.5-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.1/17.1 MB 33.5 MB/s eta 0:00:0000:0100:01
Collecting matplotlib
  Downloading matplotlib-3.6.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.8/11.8 MB 41.1 MB/s eta 0:00:0000:010:01
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Collecting scipy>=1.3.2
  Downloading scipy-1.9.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (33.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 33.7/33.7 MB 22.0 MB/s eta 0:00:0000:0100:01
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Collecting joblib>=1.0.0
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 298.0/298.0 kB 6.8 MB/s eta 0:00:0000:01
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (21.3)
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting pillow>=6.2.0
  Downloading Pillow-9.3.0-cp310-cp310-manylinux_2_28_x86_64.whl (3.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 31.8 MB/s eta 0:00:00:00:01
Collecting contourpy>=1.0.1
  Downloading contourpy-1.0.6-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (296 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 296.1/296.1 kB 8.7 MB/s eta 0:00:00
Requirement already satisfied: pyparsing>=2.2.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (3.0.9)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 22.2 MB/s eta 0:00:00:00:01
Collecting fonttools>=4.22.0
  Downloading fonttools-4.38.0-py3-none-any.whl (965 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 965.4/965.4 kB 11.0 MB/s eta 0:00:0000:01
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: threadpoolctl, pillow, numpy, kiwisolver, joblib, fonttools, cycler, scipy, pandas, contourpy, scikit-learn, matplotlib
Successfully installed contourpy-1.0.6 cycler-0.11.0 fonttools-4.38.0 joblib-1.2.0 kiwisolver-1.4.4 matplotlib-3.6.2 numpy-1.23.5 pandas-1.5.2 pillow-9.3.0 scikit-learn-1.1.3 scipy-1.9.3 threadpoolctl-3.1.0

In [3]:
import pandas as pd
from sklearn import preprocessing

train = pd.read_csv('train.csv')

train.head(20)

    id        date  store_nbr               family  sales  onpromotion
0    0  2013-01-01        1.0           AUTOMOTIVE    0.0          0.0
1    1  2013-01-01        1.0            BABY CARE    0.0          0.0
2    2  2013-01-01        1.0               BEAUTY    0.0          0.0
3    3  2013-01-01        1.0            BEVERAGES    0.0          0.0
4    4  2013-01-01        1.0                BOOKS    0.0          0.0
5    5  2013-01-01        1.0         BREAD/BAKERY    0.0          0.0
6    6  2013-01-01        1.0          CELEBRATION    0.0          0.0
7    7  2013-01-01        1.0             CLEANING    0.0          0.0
8    8  2013-01-01        1.0                DAIRY    0.0          0.0
9    9  2013-01-01        1.0                 DELI    0.0          0.0
10  10  2013-01-01        1.0                 EGGS    0.0          0.0
11  11  2013-01-01        1.0         FROZEN FOODS    0.0          0.0
12  12  2013-01-01        1.0            GROCERY I    0.0          0.0
13  13  2013-01-01        1.0           GROCERY II    0.0          0.0
14  14  2013-01-01        1.0             HARDWARE    0.0          0.0
15  15  2013-01-01        1.0   HOME AND KITCHEN I    0.0          0.0
16  16  2013-01-01        1.0  HOME AND KITCHEN II    0.0          0.0
17  17  2013-01-01        1.0      HOME APPLIANCES    0.0          0.0
18  18  2013-01-01        1.0            HOME CARE    0.0          0.0
19  19  2013-01-01        1.0           LADIESWEAR    0.0          0.0

In [4]:
le = preprocessing.LabelEncoder()

le.fit(train.store_nbr)
print(le.classes_)

[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35. 36.
 37. 38. 39. 40. 41. 42. 43. 44. 45. 46. 47. 48. 49. 50. 51. 52. 53. 54.
 nan]

In [5]:
train.isnull().sum()

id             0
date           1
store_nbr      1
family         1
sales          1
onpromotion    1
dtype: int64

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import numpy as np
from matplotlib import pyplot as plt
from sklearn import preprocessing
from datetime import datetime as dt

In [28]:
def getDFDateSales(file, column, rowToFind):
    le = preprocessing.LabelEncoder()
    rows = le.fit(file[column]).classes_
    mydf = pd.DataFrame(columns = ['date', 'sales'])
    df = file[file.store_nbr == 1]
    for row in rows:
        if row == rowToFind:
            df = df[df[column] == row]
            print(df)
            le.fit(file.date)
            x = 0
            print(len(le.classes_))
            for date in le.classes_:
                if x < len(le.classes_) - 1:
                    mydf.loc[len(mydf.index)] = [date, df['sales'].loc[df.index[x]]]
                #dfTmp = pd.DataFrame({'date' : [date], 'sales' : [tmp.sales] })
                #mydf = pd.concat([mydf, dfTmp])
                x += 1
    return mydf

mydf = getDFDateSales(train, 'family', 'BREAD/BAKERY')

              id        date  store_nbr        family    sales  onpromotion
5              5  2013-01-01        1.0  BREAD/BAKERY    0.000          0.0
1787        1787  2013-01-02        1.0  BREAD/BAKERY  470.652          0.0
3569        3569  2013-01-03        1.0  BREAD/BAKERY  310.655          0.0
5351        5351  2013-01-04        1.0  BREAD/BAKERY  198.366          0.0
7133        7133  2013-01-05        1.0  BREAD/BAKERY  301.057          0.0
...          ...         ...        ...           ...      ...          ...
2200775  2200775  2016-05-23        1.0  BREAD/BAKERY  434.254         15.0
2202557  2202557  2016-05-24        1.0  BREAD/BAKERY  373.368         14.0
2204339  2204339  2016-05-25        1.0  BREAD/BAKERY  496.330         15.0
2206121  2206121  2016-05-26        1.0  BREAD/BAKERY  452.055         12.0
2207903  2207903  2016-05-27        1.0  BREAD/BAKERY  201.231         13.0

[1240 rows x 6 columns]
1241

In [29]:
mydf.head()

         date    sales
0  2013-01-01    0.000
1  2013-01-02  470.652
2  2013-01-03  310.655
3  2013-01-04  198.366
4  2013-01-05  301.057