In [3]:
!pip install pandas
import pandas as pd
test = {'data': [['Alban', '180'], ['Seb', '155'], ['Marc', '167']]}
age = {'data': ['15', '22', '17'], 'dtype' : int}
df = pd.DataFrame(data = test['data'], columns = ['Name', 'Height'], index = ['index 1', 'index 2', 'index 3'])
df['Age'] = age['data']
df.Age = df.Age.astype(age['dtype'])
df.Height = df.Height.astype(float)
df

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

          Name  Height  Age
index 1  Alban   180.0   15
index 2    Seb   155.0   22
index 3   Marc   167.0   17