In [1]:
!pip install pandas numpy

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: numpy in /opt/conda/lib/python3.10/site-packages (1.23.5)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd
import numpy as np

mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
           {'a': 100, 'b': 200, 'c': 300, 'd': 400},
           {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
df = pd.DataFrame(mydict)

df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [3]:
print(df.iloc[1])

a    100
b    200
c    300
d    400
Name: 1, dtype: int64

In [4]:
print(df.iloc[1:])

      a     b     c     d
1   100   200   300   400
2  1000  2000  3000  4000

In [18]:
print(df.iloc[1:])

      a     b     c     d
1   100   200   300   400
2  1000  2000  3000  4000

In [16]:
print(df.loc[df['a'] > 50])

      a     b     c     d
1   100   200   300   400
2  1000  2000  3000  4000

In [21]:
print(df.iloc[:, lambda df: [0, 2]])

      a     c
0     1     3
1   100   300
2  1000  3000

In [22]:
x = lambda a: a + 10

In [23]:
x(5)

15

In [24]:
def multiplier(n):
    return lambda a: a * n

In [25]:
doubler = multiplier(2)
tripler = multiplier(3)
tenpler = multiplier(10)

In [26]:
print(doubler(9))
print(tripler(9))
print(tenpler(9))

18
27
90